PORT=3000
MONGO_URI=mongodb://localhost:27017/go_chat
NODE_ENV=development
JWT_SECRET=supersecretjwtkey123456!@#$

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Resend Setup (for welcome email on signup)
RESEND_API_KEY=re_yourkey_12345
EMAIL_FROM=onboarding@resend.dev
EMAIL_FROM_NAME=GoChat

# Arcjet Rate Limiting Key
ARCJET_KEY=ajkey_yourkey_12345
ARCJET_ENV=development

# Frontend Client URL
CLIENT_URL=http://localhost:5173
